export REST_SERVER_HOST=localhost
export REST_SERVER_PORT=6969

export DB_USER=dbUser
export DB_HOST=localhost
export DB_PORT=5432
export DB_NAME=dbName
export DB_PASSWORD=dbPass
export DB_SSL_MODE=disable

export MIGRATIONS_DIR=./migrations

export JWT_SECRET=change-me
